<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- 验证快递单的方法 -->
    <type name="Magento\Sales\Model\Order\Shipment\Track\Validator">
        <plugin name="fastway_number_validator" type="DCOnline\Fastway\Plugin\Shipment\Track\ValidatorPlugin" />
    </type>
</config>
